body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    padding-right: 10px;
    height: 100%;
    background-color:lightskyblue;
}

.profile-section {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 30px;
    margin: 10px;
}

.profile-section div{
    width: 600px;
}

.profile-section .imagesection{
        width: 25%;
        margin-right: 30px;
}

.profile-section .profile-details{
    width: 40%;
}

.imagesection{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-image {
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin: 20px;
}

.profile-details {
    margin-left: 10px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
}

.profile-name {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.contact{
    font-family: 'Gantari';
    margin-bottom: 20px;
}

.bio-section {
    display: flex;
    flex-direction: row;
    margin-bottom:0px;
}

.profile-bio {
    font-family: 'Raleway';
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 35px;
}

.profile-button {
    font-size: large;
    font-family: 'Albert Sans';
    background-color: #56B4BE;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    width: 140px;
    transition: background-color 0.3s ease;
    margin: 10px;
    margin-top: 12px;
}

.profile-button:hover {
    background-color: #4ecdc4;
}

@media only screen and (max-width:1320px){
    .imagesection{
        margin-right: 40px;
        margin-left: 20px;
        padding-left: 20px;
    }
    .profile-details{
        padding-left: 10px;
    }
    .profile-name{
        font-size: 45px;
    }
    .contact{
        font-size: 35px;
    }
    .profile-bio{
        font-size: 30px;
    }
}
@media only screen and (max-width: 900px){
    .imagesection{
        margin-right: 40px;
    }
    .profile-image{
        height: 250px;
        width: 250px;
    }
    .profile-name{
        font-size: 35px;
    }
    .contact{
        font-size: 30px;
    }
    .profile-bio{
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .profile-section {
        flex-direction: column;
        padding: 20px;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    .profile-section div{
        width: 100%;
    }
    .imagesection {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .profile-image {
        width: 250px;
        height: 250px;
    }
    .profile-details {
        width: 100%!important;
        margin-left: 0;
        margin-bottom: 0;
    }
    .profile-details div div{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .profile-details div p{
        margin: 0px;
        margin-top: 3px;
    }
    .profile-details div h3{
        margin: 0px;
    }
    .profile-name {
        width: 100%;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .profile-bio {
        font-size: 30px;
    }
    .profile-button {
        width: 120px;
        margin-bottom: 10px;
    }
}

.reviews-section {
    margin: 10px;
    height: auto;
    max-height: 800px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.reviews-section h3 {
    font-family: 'Gantari';
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

.reviews-section ul {
    list-style: none;
    height: auto;
    max-height: 700px;
    overflow:auto;
    padding: 8px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 15px;
    background-color: #faf9f9;
}

.reviews-section li {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    border: black solid;
    border-radius: 20px;
    margin-bottom: 7px;
    margin-left: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.reviews-section .heading {
    text-align: center;
    font-family: 'Oswald';
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 12px;
    color: black;
}

.reviews-section .heading:hover {
    color: rgb(97, 97, 97);
}

.reviews-section .slider {
    overflow: hidden;
    width: 100%;
    margin-right: 20px;
}

.reviews-section .content {
    background-color: #dddddd82;
    align-items: center;
    width:100%;
    /* position: absolute; */
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
}

.reviews-section .skill_header {
    font-family: 'Albert Sans';
    font-weight: bold;
    font-size: 20px;
    flex-basis: 35%;
}

.reviews-section .content_section {
    font-family: 'Gantari';
    font-size: 18px;
    /* align-items: flex-start; */
    padding: 4px;
    flex-basis: 65%;
    text-align: center;
}

.reviews-section .content_section .selected-option {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
}

.reviews-section .public_private{
    flex-basis: 10%;
}


.votes {
    display: flex;
    height: 10px;
    margin-top: auto;
    margin-left: 4px;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 4px; 
}

.votes p {
    margin-right: 20px;
    margin-bottom: 24px;
}

.reviews-section .editdelete {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: start;
}

.reviews-section .editdelete form {
    width: fit-content;
    margin-right: 5px; 
    
}

.reviews-section button {
    background-color: #007bff;
    width: 80px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    color: #fff;
    padding: 4px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reviews-section button:hover {
    background-color: #0056b3;
}

.no-reviews {
    color: #999;
    font-family: 'Albert Sans' !important;
    /* font-style: italic; */
    font-size: 30px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .reviews-section {
        height: auto;
        max-height: none;
        padding: 15px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .reviews-section h3 {
        font-size: 24px;
    }
    .reviews-section ul {
        height: auto;
        max-height: none;
    }
    .reviews-section li {
        margin-bottom: 5px;
    }
    .votes {
        margin-top: 0px;
        margin-bottom: 2px;
    }
    .votes p {
        margin-right: 10px;
    }
    .reviews-section .editdelete {
        gap: 1px;
    }
    .reviews-section button {
        padding: 3px;
        margin: 3px;
        font-size: 12px;
    }
    .reviews-section .content .skill_header{
        font-size: 17px;
    }
    .reviews-section .content .content_section{
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px){
    .reviews-section .content .content_section{
        /* font-size: 10px; */
        margin-right: 5px;
    }
    .reviews-section li{
        flex-direction: column;
        gap: 2px;
    }
}
@media only screen and (max-width: 480px){
    .reviews-section button {
        width: 62px;
        padding: 2px;
        font-size: 12px;
    }
    .reviews-section li{
        padding-left: 3px;
    }
    .reviews-section .content .skill_header{
        font-size: 16px;
    }
    .reviews-section .content .content_section{
        font-size: 14px;
    }
}

.vote-btn {
    font-size: larger !important;
    background-color: #999 !important;
}

.vote-btn:hover{
    background-color: #666 !important;
}

.used-vote-btn {
    font-size: larger !important;
    background-color: #5494d3 !important;
}

.used-vote-btn:hover{
    background-color: #00619c !important;
}

.vote-count {
    font-family: 'Gantari';
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: 0px;
}

.bio-description {
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Gantari';
    color: grey;
}

.editdelete .button-container {
    font-family: 'Gantari';
    font-size: larger;
    color: #5494d3;
    border: 2px solid #5494d3;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editdelete .button-container:hover {
    background-color: #5494d3 !important;
    color: white;
}

.public_private {
    background: none !important;
    color: #08c6ab !important;
    font-family: 'Gantari';
    font-size: larger;
    color: #08c6ab;
    border: 2px solid #08c6ab;
    padding: 4px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.public_private:hover {
    border:#1a535c 2px solid !important;
    color: #1a535c !important;
}

.used-public_private {
    background-color: #08c6ab !important;
    color: white !important;
}

.used-public_private:hover {
    background-color: #1a535c !important;
    color: white !important;
}

.poll-button {  
    font-family: 'Albert Sans' !important;
    padding: 10px;
    width: 500px !important;
    background: none !important;
    border: 2px solid #5494d3 !important;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #5494d3 !important;
    font-size: 20px !important;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poll-button span {
    text-align: start;
}

.poll-button:hover {
    border: 2px solid #004a82 !important;
    color: #004a82 !important;
}

.poll-button.active {
    background-color: #5494d3 !important;
    color: #fff !important;
    border-color: none !important;
}

.poll-button:focus,
.poll-button:active {
    outline: none;
    box-shadow: none;
}

.custom-carousel {
    font-family: 'Albert Sans';
    width: 80%;
    margin: 0 auto;
    border:none;
    position: relative;
}

.custom-carousel:focus,
.custom-carousel:active {
    outline: none;
    box-shadow: none;
}

.slick-prev,
.slick-next {
    font-family: 'Raleway';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px !important;
    z-index: 1;
    cursor: pointer;
    background: none !important;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: #333 !important;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

.slick-prev {
    left: 0;
    /* margin-left: 20px;  */
}

.slick-next {
    right: 0;
    /* margin-right: 20px;  */
}

.poll-form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.poll-form h3 {
    text-align: center;
}

.poll-form:focus,
.poll-form:active {
    outline: none;
    box-shadow: none;
}

.poll-questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poll-questions:focus,
.poll-questions:active {
    outline: none;
    box-shadow: none;
}

.poll-button{
    margin: 5px !important;
    padding: 10px !important;
    width: 80% !important;
}