body {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color:lightskyblue;
}

.profile-section {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 30px;
    margin: 10px;
}

.profile-section div {
    width: 600px;
}

.profile-section .imagesection{
        width: 25%;
        margin-right: 30px;
}

.profile-section .profile-details{
    width: 40%;
}

.imagesection{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-image {
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin: 20px;
}

.profile-details {
    margin-left: 10px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
}

.profile-name {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact {
    font-family: 'Gantari';
    margin-bottom: 10px;
}

.bio-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.profile-bio {
    font-family: 'Raleway';
    font-size: 30px;
    margin-right: 10px;
}

.profile-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    width: 140px;
    transition: background-color 0.3s ease;
}

.profile-button:hover {
    background-color: #0056b3;
    font-weight: bold;
}

/* Responsive adjustments */
@media only screen and (max-width:1320px) {
    .imagesection{
        margin-right: 40px;
        margin-left: 20px;
        padding-left: 20px;
    }
    .profile-details{
        padding-left: 10px;
    }
    .profile-name{
        font-size: 45px;
    }
    .contact{
        font-size: 35px;
    }
    .profile-bio{
        font-size: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .profile-section{
        gap: 75px;
    }
}

@media only screen and (max-width: 1000px) {
    .imagesection{
        margin-right: 40px;
    }
    .profile-image{
        height: 250px;
        width: 250px;
    }
    .profile-name{
        font-size: 35px;
    }
    .contact{
        font-size: 25px;
    }
    .profile-bio{
        font-size: 30px;
    }
    .profile-section{
        gap: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .profile-section {
        flex-direction: column;
        padding: 20px;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    .profile-section div {
        width: 100%;
    }
    .imagesection {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .profile-image {
        width: 250px;
        height: 250px;
    }
    .profile-details {
        width: 100%!important;
        margin-left: 0;
        margin-bottom: 0;
    }
    .profile-details div div{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 20px;
    }
    .profile-details div p{
            margin: 0px;
            margin-top: 3px;
    }
    .profile-details div h3{
        margin: 0px;
    }
    .profile-name {
        width: 100%;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .profile-bio {
        font-size: 30px;
    }
    .profile-button {
        width: 120px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 470px) {
    .profile-image{
        height: 300px;
        width: 300px;
    }
    .profile-name {
        margin: 0px;
        font-size: 40px;
    }
    .profile-bio {
        font-size: 30px;
    }
    .contact{
        font-size: 25px;
    }
}

.reviews-section {
    margin: 10px;
    height: auto;
    max-height: 800px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.reviews-section h3 {
    font-family: 'Gantari';
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

.reviews-section ul {
    list-style: none;
    height: auto;
    max-height: 600px;
    overflow: auto;
    padding: 8px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 15px;
    background-color: #faf9f9;
}

.reviews-section li {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    border: black solid;
    border-radius: 20px;
    margin-bottom: 7px;
    margin-left: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.reviews-section .heading {
    text-align: center;
    font-family: 'Oswald';
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 12px;
    color: black;
}

.reviews-section .heading:hover{
    color: rgb(97, 97, 97);
}
.reviews-section .slider{
    overflow: hidden;
    width: 100%;
    margin-right: 20px;
}

.reviews-section .content{
    background-color: #dddddd82;
    align-items: center;
    /* position: absolute; */
    justify-content: flex-start;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.reviews-section .skill_header {
    font-family: 'Albert Sans';
    font-weight: bold;
    font-size: 20px;
    flex-basis: 35%;
}

.reviews-section .content_section {
    font-family: 'Gantari';
    font-size: 18px;
    display: block;
    padding: 4px;
    text-align: center;
}

.reviews-section .selected-option {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
}

.reviews-section .public_private{
    flex-basis: 10%;
}

.votes {
    display: flex;
    height: 10px;
    margin-top: 0px;
    margin-left: 4px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

.votes p {
    margin-right: 20px;
}

.reviews-section .editdelete {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2px;
}

.reviews-section .editdelete form {
    margin-right: 5px;
    margin-right: 0px;
    }

.reviews-section button {
    background-color: #007bff;
    color: #fff;
    padding: 4px;
    border-radius: 12px;
    justify-content: center;
    width: 80px !important;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.is-anonymous-checkbox {
    width: 20px;
    height: 20px;
}

.reviews-section button:hover {
    background-color: #0056b3;
}

.no-reviews {
    font-family: 'Albert Sans';
    color: #999;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .reviews-section {
        height: auto;
        max-height: 800px;
        padding: 15px;
        overflow: scroll;
    }
    .reviews-section h3 {
        font-size: 24px;
    }
    .reviews-section ul {
        height: auto;
        max-height: none;
    }
    .reviews-section li {
        margin-bottom: 5px;
    }
    .votes {
        margin-top: 0px;
        margin-bottom: 2px;
    }
    .votes p {
        margin-right: 10px;
    }
    .reviews-section .editdelete {
        gap: 1px;
    }
    .reviews-section button {
        padding: 3px;
        margin: 3px;
    }
    .reviews-section .content .skill_header{
        font-size: 17px;
    }
    .reviews-section .content .content_section{
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px){
    .reviews-section .content{
        display: flex;
        flex-direction: column;
    }
    .reviews-section .content_section{
        margin-right: 5px;
    }
    .reviews-section li{
        flex-direction: column;
        gap: 2px;
    }
}

#id_review::placeholder {
    font-family: 'Albert Sans';
    font-size: large;
}

.vote-btn {
    font-size: larger !important;
    background-color: #999 !important;
}

.vote-btn:hover{
    background-color: #666 !important;
}

.used-vote-btn {
    font-size: larger !important;
    background-color: #5494d3 !important;
}

.used-vote-btn:hover{
    background-color: #00619c !important;
}

.vote-count {
    font-family: 'Gantari';
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: 0px;
}

.bio-description {
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Gantari';
    color: grey;
}

.editdelete .button-container {
    font-family: 'Gantari';
    font-size: larger;
    color: #5494d3;
    border: 2px solid #5494d3;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editdelete .button-container:hover {
    background-color: #5494d3 !important;
    color: white;
}

.AddReview {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.problem_solving-textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.communication-textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.sociability-textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.review-rating-1{
    width: 90%;
    justify-content: space-between;
}

.add {
    text-align: center;
    font-size: 58px;
    margin-bottom: 10px;
    font-family: 'Gantari';
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 30px;
    padding: 12px;
    width: 80%;
    height: auto;
    margin: 10px;
    margin-bottom: 40px;
}

.add-form div label{
    font-size: 30px;
}

.add-form label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Albert Sans';
}

#rating-value-1,
#rating-value-2,
#rating-value-3 {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.submit-review {
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
}

.add-form .checkbox {
    font-family: 'Gantari';
    font-size: 18px;
    display: block;
    padding: 4px;
    text-align: center;
}
.checkbox span {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
}
.checkbox span label{
    font-size: 20px;
}

.checkbox .option:hover {
    background-color: #004a82;
}

@media only screen and (max-width: 1500px){
    .checkbox div{
        grid-template-columns: repeat(4, 1fr);
        margin-left: 10px;
    }
    .checkbox div label{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1000px){
    .checkbox div{
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10px;
    }
    .checkbox div label{
        font-size: 15px;
    }
}

@media only screen and (max-width: 750px){
    .checkbox div{
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10px;
    }
    .checkbox label{
        font-size: 15px;
        padding-left: 13px;
        padding-right: 13px;
    }
}

@media only screen and (max-width: 480px) {
    .checkbox div{
        margin-left: 10px;
    }
    .checkbox div label{
        font-size: 12px;
    }
    .reviews-section button {
        width: 62px;
        padding: 2px;
        font-size: 12px;
        height: auto;
        max-height: 800px;
    }
    .reviews-section ul{
        height: auto;
        max-height: 700px;
    }
    .reviews-section .editdelete{
        gap: 0px;
    }
    .reviews-section .editdelete button{
        width: 47px;
        margin-bottom: 5px;
    }
    .reviews-section li{
        padding-left: 3px;
    }
    .reviews-section .content .skill_header{
        font-size: 16px;
    }
    .reviews-section .content .content_section{
        font-size: 14px;
    }
    .problem_solving-textarea,.communication-textarea,.sociability-textarea{
        font-size: 14px;
    }
    .add{
        font-size: 45px;
    }
    .add-form label{
        font-size: 30px;
    }
    .add-form div div p{
        font-size: 19px;
    }
}

@media only screen and (max-width: 400px){
    .add-form div div p{
        margin: 5px;
    }
}

@media only screen and (max-width: 340px){
    .add-form div div p{
        font-size: 13px;
    }
    .add-form label{
        font-size: 25px;
        margin: 0;
    }
    .submit-review{
        margin: 0px;
    }
}

/* carousel */
.poll-button {  
    font-family: 'Albert Sans' !important;
    padding: 10px;
    width: 500px !important;
    background: none !important;
    border: 2px solid #5494d3 !important;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #5494d3 !important;
    font-size: 20px !important;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poll-button:hover {
    border: 2px solid #004a82 !important;
    color: #004a82 !important;
}

.poll-button.active {
    background-color: #5494d3 !important;
    color: #fff !important;
    border-color: none !important;
}

.poll-button:focus,
.poll-button:active {
    outline: none;
    box-shadow: none;
}

.custom-carousel {
    font-family: 'Albert Sans';
    width: 80%;
    margin: 0 auto;
    border:none;
    position: relative;
}

.custom-carousel:focus,
.custom-carousel:active {
    outline: none;
    box-shadow: none;
}

.slick-prev,
.slick-next {
    font-family: 'Raleway';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px !important;
    z-index: 1;
    cursor: pointer;
    background: none !important;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: #333 !important;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

.slick-prev {
    left: 0;
    margin-left: 20px; 
}

.slick-next {
    right: 0;
    margin-right: 20px; 
}

.poll-form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.poll-form:focus,
.poll-form:active {
    outline: none;
    box-shadow: none;
}

.poll-questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll-questions:focus,
.poll-questions:active {
    outline: none;
    box-shadow: none;
}

.poll-button{
    margin: 5px !important;
    padding: 10px !important;
    width: 100% !important;
}