<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Hunt</title>
</head>
<body>
    <header>
        <form action="{% url 'main:search' %}" method="GET">
            <input type="text" name="q" placeholder="Talent Hunt">
            <button type="submit">Search</button>
        </form>
        
            <a href="{% url 'main:home' %}"><button>Home</button></a>
            <button>About Us</button>

        <form action="{% url 'main:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
