{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Hunt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/edit.css' %}">

</head>
<body>
    <h2>Edit Review</h2>

    <form method="post" action="{% url 'main:edit' review_id %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" name="edit-review">Save</button>
    </form>
    <a href="{% url 'main:user' username=username%}" class="cancel-link">Cancel</a>

    <p id="rating-value">Rating: {{ review.review_rating }}</p>
    <script>
        const slider = document.getElementById("review-rating");
        var output = document.getElementById("rating-value");

        slider.oninput = function() {
            output.innerHTML = `Rating: ${this.value}`;
        }
    </script>
</body>
</html>