{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Hunt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Albert Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gantari' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block head %}
    {% endblock %}
</head>
<body>
    <header style="padding: 0px; padding-top: 5px; padding-bottom: 5px;">
        
        <div id="mySidepanel" class="sidepanel">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="{% url 'main:home' %}">HOME</a>
          <a href="https://docs.google.com/presentation/d/1f1VXa8w3FtW9c5975jYvC--gmMzVSdWXD41UjtL9GXc/edit?usp=sharing">ABOUT US</a>
          <a href="{% url 'main:update_image' %}">UPDATE PROFILE IMAGE</a>
          <a href="{% url 'main:update_bio' %}">ADD/EDIT BIO</a>
          <a href="{% url 'main:update_details' %}">UPDATE PROFILE DETAILS</a>
          <a href="{% url 'main:password_change' %}">CHANGE PASSWORD</a>
          
          <a href="{% url 'main:logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            LOGOUT
          </a>
          <form id="logout-form" action="{% url 'main:logout' %}" method="post" style="display: none;" class="base-form">
            {% csrf_token %}
          </form>
        </div>
        <button class="openbtn" onclick="openNav()">&#9776;</button>

        <form action="{% url 'main:search' %}" method="GET" class="base-form">
          <input type="text" name="q" placeholder="Who are you looking for?" value="{{ query }}">
          <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </form>
        <div class="button-container navbarbuttons">
          <a href="{% url 'main:home' %}"><button style="font-family: Albert Sans;">HOME</button></a>
          <a href="https://docs.google.com/presentation/d/1f1VXa8w3FtW9c5975jYvC--gmMzVSdWXD41UjtL9GXc/edit?usp=sharing">
            <button class="about-us-button" style="font-family: Albert Sans;">ABOUT US</button>
          </a>

          <div class="dropdown">
            <button class="settings-button">SETTINGS</button>
            <div class="dropdown-content">
              <a href="{% url 'main:update_image' %}">Update Profile Image</a>
              <a href="{% url 'main:update_bio' %}">Add/Edit Bio</a>
              <a href="{% url 'main:update_details' %}">Update Profile Details</a>
              <a href="{% url 'main:password_change' %}">Change Password</a>
            </div>
          </div>

          <a href="{% url 'main:logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            <button style="font-family: Albert Sans;">LOGOUT</button>
          </a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <script>
      function openNav() {
        document.getElementById("mySidepanel").style.width = "100%";
        document.getElementById("mySidepanel").style.height = "100%";
      }

      /* Set the width of the sidebar to 0 (hide it) */
      function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
      }
    </script>

</body>
</html>
