{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Hunt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/edit.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Albert Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gantari' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <h2>Edit Review</h2>

    <form method="post" action="{% url 'main:edit' review_id %}">
        {% csrf_token %}
        <div>
            <label class="category-heading">Effective Communication and Teamwork</label>
            <br/>
            
            <div class="checkbox">
                {% for option in form.Effective_Communication %}
                    <span class="option">{{ option }}</span>
                {% endfor %}
                {{ form.Effective_Communication.errors }} 
            </div>
        </div>

        <div>
            <label class="category-heading">Innovative Thinking and Problem-Solving</label>
            <br/>
            <div class="checkbox">
                {% for option in form.Thinking_and_Problem_Solving %}
                    <span class="option">{{ option }}</span>
                {% endfor %}
                {{ form.Thinking_and_Problem_Solving.errors }} 
            </div>
        </div>

        <div>
            <label class="category-heading">Responsible Leadership and Self-Management</label>
            <br/>
            <div class="checkbox">
                {% for option in form.Responsible_Leadership %}
                    <span class="option">{{ option }}</span>
                {% endfor %}
                {{ form.Responsible_Leadership.errors }} 
            </div>
        </div>

        <div>
            <label class="category-heading">Ethical Professionalism and Persistence</label>
            <br/>
            <div class="checkbox">
                {% for option in form.Ethical_Professionalism %}
                    <span class="option">{{ option }}</span>
                {% endfor %}
                {{ form.Ethical_Professionalism.errors }} 
            </div>
        </div>

        <div>
            <label style="width: auto; margin-bottom: 20px;" class="category-heading">Anonymous Review
                {{ form.is_anonymous }}
                {{ form.is_anonymous.errors }}
            </label>
            <button type="submit" name="edit-review">Save</button>
        </div>
    </form>
    
    <a href="{% url 'main:user' username=username%}" class="cancel-link">Cancel</a>
</body>
</html>