{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Hunt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <h1>Create Account</h1>
    <form action="{% url 'main:signup' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Create Account</button>
    </form>

    <h3>Already have an account? <a href="{% url 'main:login' %}">Login</a></h3>
</body>
</html>