{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Hunt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/updatebio.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<h2>UPDATE BIO</h2>
		{{ form }}
		<button type="submit">Save</button>
    </form>
    <a href="{% url 'main:home' %}" class="cancel-link">Cancel</a>
</body>
</html>