{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/user.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-section">
        <div class="imagesection">
            {% if user.userprofile.profile_image %}
                <img class="profile-image" src="{{ user.userprofile.profile_image.url }}" alt="Profile Image" >
            {% else %}
                {% if user.userprofile.gender == 'M' %}
                    <img class="profile-image" src="{% static 'profile_images/male_default.jpg' %}" alt="Default Image" >
                {% elif user.userprofile.gender == 'F' %}
                    <img class="profile-image" src="{% static 'profile_images/female_default.jpg' %}" alt="Default Image" >
                {% else %}
                    <img class="profile-image" src="{% static 'profile_images/default.jpg' %}" alt="Default Image" >
                {% endif %}
            {% endif %}
        </div>

        <div class="profile-details">
            <h1 class="profile-name">{{user.first_name}} {{user.last_name}}</h1>
            {% if user.userprofile.bio %}
                <div class="bio-section">
                    <div>
                        <h3 class="profile-bio">Bio:</h3>
                        <p class="bio-description">{{ user.userprofile.bio }}</p>
                    </div>
                </div>
            {% endif %}
            <!-- <h1 class="contact">Contact: {{user.userprofile.contact_number}}</h1> -->
        </div>

        <div class="custom-carousel">
            {% for question_num in question_option_dict %}
                <div class="carousel-item poll-form">
                    <h3 style="font-size: 20px;">{{ question_option_dict|dict_lookup:question_num|dict_lookup:"question" }}</h3>
                    <form method="POST" action="{% url 'main:user' username=username %}">
                        {% csrf_token %}
                        <input type="hidden" name="question" value="q{{ question_num }}">
                        <div class="poll-questions">
                            {% for option in question_option_dict|dict_lookup:question_num|dict_lookup:"options" %}
                                {% if has_voted_question|dict_lookup:question_num %}
                                    {% if has_voted|dict_lookup:question_num|dict_lookup:option.option_num %}
                                    <button id="q{{ question_num }}o{{ option.option_num }}"
                                        data-question="q{{ question_num }}" data-option="o{{ option.option_num }}"
                                        type="submit" class="poll-button active">
                                        <span>{{ option.option_text }}</span>
                                        <span class="percentage">{{ vote_percentages|dict_lookup:question_num|dict_lookup:option.option_num }}%</span>
                                    </button>
                                    {% else %}
                                    <button id="q{{ question_num }}o{{ option.option_num }}"
                                        data-question="q{{ question_num }}" data-option="o{{ option.option_num }}"
                                        type="submit" class="poll-button">
                                        <span>{{ option.option_text }}</span>
                                        <span class="percentage">{{ vote_percentages|dict_lookup:question_num|dict_lookup:option.option_num }}%</span>
                                    </button>
                                    {% endif %}
                                {% else %}
                                    {% if has_voted|dict_lookup:question_num|dict_lookup:option.option_num %}
                                    <button id="q{{ question_num }}o{{ option.option_num }}"
                                        data-question="q{{ question_num }}" data-option="o{{ option.option_num }}"
                                        type="submit" class="poll-button active">
                                        <span>{{ option.option_text }}</span>
                                        <span class="percentage"></span>
                                    </button>
                                    {% else %}
                                    <button id="q{{ question_num }}o{{ option.option_num }}"
                                        data-question="q{{ question_num }}" data-option="o{{ option.option_num }}"
                                        type="submit" class="poll-button">
                                        <span>{{ option.option_text }}</span>
                                        <span class="percentage"></span>
                                    </button>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </form>
                    <h4 id="q{{ question_num }}-votes" style="font-size: 16px !important;">
                        Total votes: <span class="total-votes">{{ total_votes|dict_lookup:question_num }}</span>
                    </h4>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="reviews-section">
        <h3>Reviews Received</h3>
        <ul>
            {% for review in processed_rec_reviews %}
                <li>
                    <div>
                        {% if review.review.anonymous_from != 'Anonymous' and review.review.anonymous_from != request.user.username %}
                            <a href="{% url 'main:user' username=review.review.from_user %}"><p class="heading">{{ review.review.review_giver }}</p></a>
                        {% else %}
                            <p class="heading">{{ review.review.review_giver }}</p>
                        {% endif %}
                        <form method="post" action="{% url 'main:user' username=user.username %}">
                            {% csrf_token %}
                            <input type="hidden" name="review_id" value="{{review.review.id }}">
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <p id="upvote-count-{{ review.review.id }}" class="vote-count">{{ review.review.get_upvotes_count }}</p>
                                {% if review.has_upvoted %}
                                    <button
                                        id="upvote-btn-{{ review.review.id }}" data-review-id="{{ review.review.id }}" data-action="upvote" 
                                        type="submit" name="action" value="upvote" class="vote-btn used-vote-btn">&#8679;</button>
                                {% else %}
                                    <button
                                        id="upvote-btn-{{ review.review.id }}" data-review-id="{{ review.review.id }}" data-action="upvote" 
                                        type="submit" name="action" value="upvote" class="vote-btn">&#8679;</button>
                                {% endif %}
                            </div>
    
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <p id="downvote-count-{{ review.review.id }}" class="vote-count">{{ review.review.get_downvotes_count }}</p>
                                {% if review.has_downvoted %}
                                    <button
                                        id="downvote-btn-{{ review.review.id }}" data-review-id="{{ review.review.id }}" data-action="downvote"
                                        type="submit" name="action" value="downvote" class="vote-btn used-vote-btn">&#8681;</button>
                                {% else %}
                                    <button
                                        id="downvote-btn-{{ review.review.id }}" data-review-id="{{ review.review.id }}" data-action="downvote"
                                        type="submit" name="action" value="downvote" class="vote-btn">&#8681;</button>
                                {% endif %}
                            </div>
                        </form>
                    
                        {% if review.review.from_user == request.user.username %}
                            <div class="editdelete">
                                <form method="post" action="{% url 'main:edit' review.review.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="review_id" value="{{ review.review.id }}">
                                    <button type="submit" style="background: none;" class="button-container">Edit</button>
                                </form>
                                <form method="post" action="{% url 'main:delete' review.review.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="review_id" value="{{ review.review.id }}">
                                    <button type="submit" style="background: none;" class="button-container">Delete</button>
                                </form>
                            </div>
                        {% endif %}

                    </div>
                        
                    <br/>

                    <div class="custom-carousel slider">
                        <div class="carousel-item content">
                            <p class="skill_header">Effective Communication</p>
                            <div class="content_section">
                                {% for option in review.review.Effective_Communication %}
                                    <span class="selected-option">{{ option }}</span>
                                {% endfor %}
                            </div>
                        </div>
    
                        <div class="carousel-item content">
                            <p class="skill_header">Thinking and Problem Solving</p>
                            <div class="content_section">
                                {% for option in review.review.Thinking_and_Problem_Solving %}
                                    <span class="selected-option">{{ option }}</span>
                                {% endfor %}
                            </div>
                        </div>
    
                        <div class="carousel-item content">
                            <p class="skill_header">Responsible Leadership</p>
                            <div class="content_section">
                                {% for option in review.review.Responsible_Leadership %}
                                    <span class="selected-option">{{ option }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="carousel-item content">
                            <p class="skill_header">Ethical Professionalism</p>
                            <div class="content_section">
                                {% for option in review.review.Ethical_Professionalism %}
                                    <span class="selected-option">{{ option }}</span>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                
                </li>
            
                <br/>

            {% empty %}
                <p class="no-reviews">No reviews given yet.</p>
            {% endfor %}
        </ul>
    </div>

    <div class="reviews-section">
        <h3>Reviews Given</h3>
        <ul>
            {% for review in processed_giv_reviews %}
                <li>
                    <div>
                        {% if review.review.to_user != request.user.username %}
                            <a href="{% url 'main:user' username=review.review.to_user %}"><p class="heading">{{ review.review.review_receiver }}</p></a>
                        {%  else %}
                            <p class="heading">{{ review.review.review_receiver }}</p>
                        {% endif %}

                        <form method="post" action="{% url 'main:user' username=user.username %}">
                            {% csrf_token %}
                            <input type="hidden" name="review_id" value="{{review.review.id }}">
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <p id="upvote-count-{{ review.review.id }}" class="vote-count">{{ review.review.get_upvotes_count }}</p>
                                {% if review.has_upvoted %}
                                    <button
                                        id="upvote-btn-{{ review.review.id }}" data-review-id="{{ review.review.id }}" data-action="upvote" 
                                        type="submit" name="action" value="upvote" class="vote-btn used-vote-btn">&#8679;</button>
                                {% else %}
                                    <button
                                        id="upvote-btn-{{ review.review.id }}" data-review-id="{{ review.review.id }}" data-action="upvote" 
                                        type="submit" name="action" value="upvote" class="vote-btn">&#8679;</button>
                                {% endif %}
                            </div>
        
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <p id="downvote-count-{{ review.review.id }}" class="vote-count">{{ review.review.get_downvotes_count }}</p>
                                {% if review.has_downvoted %}
                                    <button
                                        id="downvote-btn-{{ review.review.id }}" data-review-id="{{ review.review.id }}" data-action="downvote"
                                        type="submit" name="action" value="downvote" class="vote-btn used-vote-btn">&#8681;</button>
                                {% else %}
                                    <button
                                        id="downvote-btn-{{ review.review.id }}" data-review-id="{{ review.review.id }}" data-action="downvote"
                                        type="submit" name="action" value="downvote" class="vote-btn">&#8681;</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    
                    <br/>
                    
                    <div class="custom-carousel slider">
                        <div class="carousel-item content">
                            <p class="skill_header">Effective Communication</p>
                            <div class="content_section">
                                {% for option in review.review.Effective_Communication %}
                                    <span class="selected-option">{{ option }}</span>
                                {% endfor %}
                            </div>
                        </div>
    
                        <div class="carousel-item content">
                            <p class="skill_header">Thinking and Problem Solving</p>
                            <div class="content_section">
                                {% for option in review.review.Thinking_and_Problem_Solving %}
                                    <span class="selected-option">{{ option }}</span>
                                {% endfor %}
                            </div>
                        </div>
    
                        <div class="carousel-item content">
                            <p class="skill_header">Responsible Leadership</p>
                            <div class="content_section">
                                {% for option in review.review.Responsible_Leadership %}
                                    <span class="selected-option">{{ option }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="carousel-item content">
                            <p class="skill_header">Ethical Professionalism</p>
                            <div class="content_section">
                                {% for option in review.review.Ethical_Professionalism %}
                                    <span class="selected-option">{{ option }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>
            
                <br/>
            
            {% empty %}
                <p class="no-reviews">No reviews given yet.</p>
            {% endfor %}
        </ul>
    </div>

    {% if not existing_review %}
    <div class="AddReview" >
        <h2 class="add">Add Review</h2>
        <form method="post" enctype="multipart/form-data" class="add-form">
            {% csrf_token %}
            <div>
                <label >Effective Communication and Teamwork</label>
                <br/>
                
                <div class="checkbox">
                    {% for option in reviewform.Effective_Communication %}
                        <span class="option">{{ option }}</span>
                    {% endfor %}
                    {{ reviewform.Effective_Communication.errors }} 
                </div>
            </div>

            <div >
                <label >Innovative Thinking and Problem-Solving</label>
                <br/>
                <div class="checkbox">
                    {% for option in reviewform.Thinking_and_Problem_Solving %}
                        <span class="option">{{ option }}</span>
                    {% endfor %}
                    {{ reviewform.Thinking_and_Problem_Solving.errors }} 
                </div>
            </div>

            <div>
                <label >Responsible Leadership and Self-Management</label>
                <br/>
                <div class="checkbox">
                    {% for option in reviewform.Responsible_Leadership %}
                        <span class="option">{{ option }}</span>
                    {% endfor %}
                    {{ reviewform.Responsible_Leadership.errors }} 
                </div>
            </div>

            <div>
                <label >Ethical Professionalism and Persistence</label>
                <br/>
                <div class="checkbox">
                    {% for option in reviewform.Ethical_Professionalism %}
                        <span class="option">{{ option }}</span>
                    {% endfor %}
                    {{ reviewform.Ethical_Professionalism.errors }} 
                </div>
            </div>

            <div>
                <label style="font-size: 28px; width: auto; margin-left: 30px; margin-bottom: 20px;" >Anonymous Review
                    {{ reviewform.is_anonymous }}
                    {{ reviewform.is_anonymous.errors }}
                </label>
                <button type="submit" style="background-color: #333; " class="submit-review" name="review-form">Submit Review</button>
            </div>
        </form>
    {% endif %}

</div>

<script>
    $(document).ready(function() {
        $('.vote-btn').click(function(e) {
            e.preventDefault();
            var reviewId = $(this).data('review-id');
            var action = $(this).data('action');
            var button = $(this);

            $.ajax({
                url: '{% url "main:vote" %}',
                type: 'POST',
                data: {
                    'review_id': reviewId,
                    'action': action,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    // console.log(response)

                    var upvoteCountElement = $('#upvote-count-' + response.review_id);
                    upvoteCountElement.text(response.upvotes_count);
                    var downvoteCountElement = $('#downvote-count-' + response.review_id);
                    downvoteCountElement.text(response.downvotes_count);

                    var upvoteButtonElement = $('#upvote-btn-' + response.review_id);
                    var downvoteButtonElement = $('#downvote-btn-' + response.review_id);

                    if (response.has_upvoted){
                        upvoteButtonElement.addClass('used-vote-btn');
                        downvoteButtonElement.removeClass('used-vote-btn');
                    } else if (response.has_downvoted){
                        downvoteButtonElement.addClass('used-vote-btn');
                        upvoteButtonElement.removeClass('used-vote-btn');
                    } else {
                        upvoteButtonElement.removeClass('used-vote-btn');
                        downvoteButtonElement.removeClass('used-vote-btn');
                    }
                },
                error: function(response) {
                    console.log(responseText)
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('.custom-carousel').slick({
            arrows: true,
            prevArrow: '<button type="button" class="slick-prev"><</button>',
            nextArrow: '<button type="button" class="slick-next">></button>',
            slidesToShow: 1,
            slidesToScroll: 1,
            adaptiveHeight: true
        });
    });

    $(document).ready(function() {
        $('.poll-button').click(function(e) {
            e.preventDefault()
            var question = $(this).data('question');
            var option = $(this).data('option');
            $.ajax({
                url: "{% url 'main:poll' username=username %}",
                type: "POST",
                data: {
                    'question': question,
                    'option': option,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    // console.log(response);
                    const has_voted = response['has_voted'];
                    const question = response['question'];
                    const ques_vote_percentages = response['ques_vote_percentages'];
                    const ques_total_votes = response['ques_total_votes'];
                    const has_voted_question = response['has_voted_question'];

                    for(var question_option in has_voted) {
                        var optionButton = $('#' + question_option)

                        if(has_voted[question_option]) {
                            optionButton.addClass('active');
                        }
                        else{
                            optionButton.removeClass('active');
                        }

                        percentageElement = $('#' + question_option + ' .percentage');
                        if(has_voted_question[question]) {
                            percentageElement.text(ques_vote_percentages[question_option]+'%');
                        }
                        else{
                            percentageElement.text('');
                        }

                        var totalVotes = $('#' + question + '-votes .total-votes');
                        totalVotes.text(ques_total_votes[question]);
                    }
                }, 
            });
        });
    });
</script>

{% endblock %}