/* styles/login.css */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  form {
    width: 85%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
  }
  
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 17px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Added box-sizing property */
  }
  
  form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box; /* Added box-sizing property */
  }
  
  form button[type="submit"]:hover {
    background-color: #555;
    padding: 20px;
  }
  
  p {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h3 {
    text-align: center;
    color: #333;
    font-size: 18px;
    /* padding: 7px; */
  }
  
  h3 a {
    color: #ff9800;
  }
  