body {
    font-family: 'Montserrat';
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 40px;
}

form {
    font-family: 'Montserrat';
    font-size: 17px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 80%;
}

form label {
    font-family: 'Montserrat';
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="file"] {
    font-family: 'Montserrat';
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    margin-bottom: 20px;
}
form select {
    font-family: 'Montserrat';
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    margin-bottom: 20px;
}

form button[type="submit"],
form button[type="button"] {
    font-family: 'Montserrat';
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    background-color: #4ecdc4;
    color: #fff;
    margin-right: 10px;
    margin: 20px;
}

form button[type="button"] {
    font-family: 'Montserrat';
    background-color: #ccc;
    color: #333;
    font-size: 17px;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

form button[type="button"]:hover {
    font-family: 'Montserrat';
    background-color: #999;
}

form button[type="submit"]:hover {
    font-family: 'Montserrat';
    background-color: #56B4BE;
    /* font-size: 18px; */
}

.custom-select {
    font-family: 'Montserrat';
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    margin-bottom: 20px;
}
  

a.cancel-link {
    font-size: x-large;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-bottom: 100px;
}

a.cancel-link:hover {
    color: #ff4f61;
}